/* Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(237, 116, 50);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}


.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(255, 183, 148);
}

.select,
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: rgb(237, 116, 50);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:disabled {
  background-color: #ccc;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
}